<div>
    <div ng-class="scrollerClass">
        <div ng-if="pullRefresh" class="pullDown">
            <span class="pullDownIcon"></span>
            <span class="pullDownLabel">Pull down to refresh...</span>
        </div>
        <div ng-class="scrollerContentClass" ng-transclude style="height:100%;"></div>  
        <div ng-if="pullRefresh" class="pullUp">
            <span class="pullUpIcon"></span>
            <span class="pullUpLabel">Pull up to refresh...</span>
        </div>
        <div ng-if="infinite" class="pullUp loading" style="width:100%; margin:15px 0 0;">
            <span class="pullUpIcon"></span>
            <span class="pullUpLabel">Loading...</span>
        </div>
    </div>
</div>