<div jqm-page jqm-theme="a">
	<div class="ui-dialog-contain ui-overlay-shadow ui-corner-all">
	    <div jqm-header jqm-theme="d">
	        <a jqm-button jqm-theme="d" href="#/" icon="ui-icon-delete" iconpos="notext" buttonpos="left"></a>
	        <h1>Dialog</h1>
	    </div>
	    <div class="ui-content ui-body-c">
	        <h1>Delete page?</h1>
	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, architecto.</p>
	        <a href="#/" jqm-button jqm-theme="b">Ok</a>
	        <a href="#/" jqm-button jqm-theme="c">Cancel</a>
	    </div>
	</div>
</div> 	