<div jqm-page>
    <div jqm-panel-container="state.openPanel">
        <div class="ui-body-b" style="position: relative;">
            <div jqm-header>
                <a jqm-button jqm-theme="b" href="#/" icon="ui-icon-home" buttonpos="left" shadow="true">Home</a>
                <h1>iScroll Basic</h1>
                <div jqm-button jqm-theme="b" 
                     icon="ui-icon-bars" iconpos="notext" buttonpos="right" shadow="false"
                     ng-click="state.openPanel='right'"></div>
            </div>
            <div jqm-footer jqm-theme="a" style="height:40px"></div>
            <div class="panel-content ui-content jqm-content-with-header jqm-content-with-footer">
                <div iscroll="wrapper" vertical="true">
                    <ul class="ui-listview">
                        <li class="ui-li ui-btn ui-li-has-arrow ui-btn-icon-right ui-first-child ui-btn-up-c" ng-repeat="i in data">
                            <div class="ui-btn-inner ui-li">
                                <div class="ui-btn-text">
                                  <a ng-href="" class="ui-link-inherit">
                                    <span class="ng-scope ng-binding">List item {{i}}</span>
                                  </a>
                                </div>
                                <span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
                            </div>
                        </li>
                    </ul>
                </div>
                    <!-- <ul jqm-listview>
                        <li ng-repeat="i in data"
                            jqm-li-link icon="ui-icon-arrow-r">
                            List item {{i}}
                        </li>
                    </ul> -->
            </div>
        </div>
        <!-- panel -->
        <div jqm-panel position="right" jqm-theme="b">
            <div jqm-header style="left:0">
                <h1>Examples</h1>
            </div>
            <div style="position:relative; top:42px" jqm-theme="b">
                <ul jqm-listview>
                    <li icon="ui-icon-arrow-r"
                        jqm-li-link="#/list/filter">
                        List Filter
                    </li>
                    <li icon="ui-icon-arrow-r"
                        jqm-li-link="#/list/infinite">
                        List Infinite
                    </li>
                    <li icon="ui-icon-arrow-r"
                        jqm-li-link="#/list/refresh">
                        List Pull Refresh
                    </li>
                    <li icon="ui-icon-arrow-r"
                        jqm-li-link="#/list/tab/">
                        List Tabs
                    </li>
                    <li icon="ui-icon-arrow-r"
                        jqm-li-link="#/list/ngiscroll/">
                        Ng Iscroll
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
