<div jqm-page ng-init="state={}">
    <div jqm-panel-container="state.openPanel">
        <div class="ui-body-b" style="position: relative;">
            <div jqm-header>
                <a jqm-button jqm-theme="b" href="#/list/iscroll" icon="ui-icon-back" iconpos="notext" iconshadow="true" buttonpos="left" shadow="false"></a>
                <h1>iScroll Pull Refresh</h1>
                <div jqm-button jqm-theme="b" 
                     icon="ui-icon-bars" iconpos="notext" buttonpos="right" shadow="false"
                     ng-click="state.openPanel='right'"></div>
            </div>
            <div class="panel-content ui-content jqm-content-with-header jqm-content-with-footer">
                <div iscroll="wrapper" bounce="true" vertical="true"
                        pull-refresh="true" 
                        pull-down="pullDownAction()" 
                        pull-up="pullUpAction()">
                    <ul jqm-listview>
                        <li ng-repeat="i in data"
                            jqm-li-link icon="ui-icon-arrow-r">
                            List item {{i}}
                        </li>
                    </ul>
                </div>
            </div>
            <div jqm-footer jqm-theme="a" style="height:40px"></div>
        </div>
        <!-- panel -->
        <div jqm-panel position="right" jqm-theme="b">
            <div jqm-header style="left:0">
                <h1>Examples</h1>
            </div>
            <div style="position:relative; top:42px" jqm-theme="b">
                <ul jqm-listview>
                    <li icon="ui-icon-arrow-r"
                        jqm-li-link="#/list/filter">
                        List Filter
                    </li>
                    <li icon="ui-icon-arrow-r"
                        jqm-li-link="#/list/infinite">
                        List Infinite
                    </li>
                    <li icon="ui-icon-arrow-r"
                        jqm-li-link
                        jqm-li-active>
                        List Pull Refresh
                    </li>
                    <li icon="ui-icon-arrow-r"
                        jqm-li-link="#/list/tab/">
                        List Tabs
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
