<style type="text/css">

    #tabWrapper {
        position:absolute;
        z-index:1;
        overflow:hidden;
        top:0;
        right:0;
        bottom:0;
        left:0;
    }

    .tabScroller {
        height: 100%;
    }
    .ui-scroller-content-infinite { 
        padding: 15px 15px 0; 
    }
    
    .tab {
        float: left;
        -webkit-transform:translate3d(0,0,0);
        height: 100%;
    }
    
    .tabbar > .nav{
        position:relative;
        height:2px;
        background:red;
        width:33.33%;-
        -webkit-transition: 200ms cubic-bezier(0.1, 0.57, 0.1, 1);
        transition: 200ms cubic-bezier(0.1, 0.57, 0.1, 1);
    }
</style>
<div jqm-page ng-init="state={}">
    <div jqm-panel-container="state.openPanel">
        <div class="ui-body-b" style="position: relative;">
            <div jqm-header>
                <a jqm-button jqm-theme="b" href="#/list/iscroll" icon="ui-icon-back" iconpos="notext" iconshadow="true" buttonpos="left" shadow="false"></a>
                <h1>iScroll Tab</h1>
                <div jqm-button jqm-theme="b" 
                     icon="ui-icon-bars" iconpos="notext" buttonpos="right" shadow="false"
                     ng-click="state.openPanel='right'"></div>
            </div>
            <div jqm-footer jqm-theme="a">
                <div class="tabbar ui-navbar">
                    <div class="nav" ng-style="barTranslate"></div>
                    <ul class="ui-grid-b">
                        <li ng-class="{0:'ui-block-a', 1:'ui-block-b', 2:'ui-block-c'}[$index]" ng-repeat="tab in tabs">
                            <a href ng-class="{'ui-btn-active': tab.selected}" 
                                jqm-button jqm-theme="a" 
                                icon="ui-icon-star" iconpos="top" corners="false" shadow="false"
                                ng-click="setTab($index)">{{tab.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-content ui-content jqm-content-with-header jqm-content-with-footer">
                <div iscroll="tabWrapper" 
                     scroller-class="tabScroller" scroller-content-class="ui-scroller-content-tab"
                     snap="true" momentum="false" 
                     on-scroll-move="tabIscroll.onScrollMove()" 
                     on-scroll-end="tabIscroll.onScrollEnd()">
                    <div class="tab" ng-class="{'tabActive':tabs[0].selected}">
                        <div iscroll="wrapper1" vertical="true"
                                scroller-content-class="ui-scroller-content-infinite"
                                infinite="true"
                                on-scroll-end="pageIscroll.infiniteScroll()"
                                on-before-scroll-move="pageIscroll.onBeforeScrollMove()"
                                on-scroll-move="pageIscroll.onScrollMove()"
                                on-before-scroll-end="pageIscroll.onBeforeScrollEnd()">
                            <ul jqm-listview>
                                <li jqm-li-divider jqm-theme="b">Infinite</li>
                                <li ng-repeat="i in data[0]"
                                    jqm-li-link icon="ui-icon-arrow-r">
                                    List item {{i}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab" ng-class="{'tabActive':tabs[1].selected}">
                        <p class="ui-body-b" style="height:100%">Pull Refresh</p>
                        <!-- <div iscroll="wrapper2" bounce="true" vertical="true" 
                                scroller-content-class="ui-scroller-content-infinite"
                                infinite="true"
                                on-scroll-end="pageIscroll.infiniteScroll()"
                                on-before-scroll-move="pageIscroll.onBeforeScrollMove()"
                                on-scroll-move="pageIscroll.onScrollMove()"
                                on-before-scroll-end="pageIscroll.onBeforeScrollEnd()">
                            <ul jqm-listview>
                                <li jqm-li-divider jqm-theme="c">Pull Refresh</li>
                                <li ng-repeat="i in data[1]"
                                    jqm-li-link icon="ui-icon-arrow-r">
                                    <h4 class="ui-li-heading">Kitten {{i}}</h4>
                                    <p class="ui-li-desc">Description here..</p>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                    <div class="tab" ng-class="{'tabActive':tabs[2].selected}">
                        <p class="ui-body-a" style="height:100%">Custom</p>
                        <!-- <div iscroll="wrapper3" bounce="true" vertical="true" 
                                scroller-content-class="ui-scroller-content-infinite"
                                infinite="true"
                                on-scroll-end="pageIscroll.infiniteScroll()"
                                on-before-scroll-move="pageIscroll.onBeforeScrollMove()"
                                on-scroll-move="pageIscroll.onScrollMove()"
                                on-before-scroll-end="pageIscroll.onBeforeScrollEnd()">
                            <ul jqm-listview>
                                <li jqm-li-divider jqm-theme="d">Custom</li>
                                <li ng-repeat="i in data[2]"
                                    jqm-li-link icon="ui-icon-arrow-r">
                                    <img src="http://placekitten.com/80/80" jqm-li-thumb />
                                    <h4 class="ui-li-heading">Kitten</h4>
                                    <p class="ui-li-desc">Description here..</p>
                                    <span jqm-li-count>44</span>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- panel -->
        <div jqm-panel position="right" jqm-theme="b">
            <div jqm-header style="left:0">
                <h1>Examples</h1>
            </div>
            <div style="position:relative; top:42px" jqm-theme="b">
                <ul jqm-listview>
                    <li icon="ui-icon-arrow-r"
                        jqm-li-link="#/list/filter">
                        List Filter
                    </li>
                    <li icon="ui-icon-arrow-r"
                        jqm-li-link="#/list/infinite">
                        List Infinite
                    </li>
                    <li icon="ui-icon-arrow-r"
                        jqm-li-link="#/list/refresh">
                        List Pull Refresh
                    </li>
                    <li icon="ui-icon-arrow-r"
                        jqm-li-link
                        jqm-li-active>
                        List Tabs
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>