<!-- the main page of your app -->
<div jqm-page>
    <div jqm-header>
        <h1>Home</h1>
    </div>
    <div iscroll="wrapper" transition="true">
        <ul jqm-listview>
            <li icon="ui-icon-arrow-r"
                jqm-li-link="#/list/iscroll"
                jqm-theme="b">
                List View
            </li>
            <li icon="ui-icon-alert"
                jqm-li-link="#/dialog"
                jqm-theme="b">
                Dialog
            </li>
            <li icon="ui-icon-alert"
                jqm-li-link="#/popup"
                jqm-theme="b">
                Popup
            </li>
            <li icon="ui-icon-arrow-r"
                jqm-li-link="#/panel"
                jqm-theme="b">
                Panel
            </li>
            <li icon="ui-icon-arrow-r"
                jqm-li-link="#/collapsible"
                jqm-theme="b">
                Collapsible
            </li>
            <li icon="ui-icon-arrow-r"
                jqm-li-link="#/carousel"
                jqm-theme="b">
                Carousel
            </li>
            <li icon="ui-icon-arrow-r"
                jqm-li-link="#/slider"
                jqm-theme="b">
                Slider
            </li>
            <li icon="ui-icon-arrow-r"
                jqm-li-link="#/select"
                jqm-theme="b">
                Select
            </li>
            <li icon="ui-icon-arrow-r"
                jqm-li-link="#/form"
                jqm-theme="b">
                Form
            </li>
            <li icon="ui-icon-arrow-r"
                jqm-li-link="#/table"
                jqm-theme="b">
                Tables
            </li>
        </ul>
    </div>
</div>

