<!-- the main page of your app -->
<div jqm-page>
    <div jqm-header>
        <h1>Home</h1>
    </div>
    <div iscroll="wrapper" transition="true">
        <a jqm-button href="#/list/iscroll" icon="ui-icon-bars" iconpos="right" jqm-theme="b">List View</a>
        
        <a jqm-button href="#/dialog" icon="ui-icon-alert" iconpos="right" jqm-theme="b">Dialog</a>
        
        <a jqm-button href="#/popup" icon="ui-icon-alert" iconpos="right" jqm-theme="b">Popup</a>
        
        <a jqm-button icon="ui-icon-arrow-r" iconpos="right" href="#/panel" jqm-theme="b">Panel</a>
        
        <a jqm-button icon="ui-icon-arrow-r" iconpos="right" href="#/collapsible" jqm-theme="b">Collapsible</a>
        
        <a jqm-button icon="ui-icon-arrow-r" iconpos="right" href="#/autocomplete">Autocomplete</a>
        
        <a jqm-button icon="ui-icon-arrow-r" iconpos="right" href="#/carousel" jqm-theme="b">Carousel</a>
        
        <a jqm-button icon="ui-icon-arrow-r" iconpos="right" href="#/slider" jqm-theme="b">Slider</a>
        
        <a jqm-button icon="ui-icon-arrow-r" iconpos="right" href="#/select" jqm-theme="b">Select</a>
        
        <a jqm-button icon="ui-icon-arrow-r" iconpos="right" href="#/form" jqm-theme="b">Forms</a>
        
        <a jqm-button icon="ui-icon-arrow-r" iconpos="right" href="#/table" jqm-theme="b">Tables</a>
        
        <a jqm-button icon="ui-icon-arrow-r" iconpos="right" href="#/list">Grids</a>
        
        <a jqm-button icon="ui-icon-arrow-r" iconpos="right" href="#/list">Image Full Screen</a>

        <div style="height:40px"></div>
    </div>
</div>

