<div jqm-page>
    <div jqm-header>
        <a jqm-button jqm-theme="a" href="#/" icon="ui-icon-home" buttonpos="left" shadow="true">Home</a>
        <h1>Table</h1>
    </div>
    <div iscroll="wrapper1" class="ui-body-c" transition="true" vertical="true">
    	
		<h4>JQM Table Toggle</h4>
		<div jqm-table head-theme="a" body-theme="b" type="stripe" shadow="true">
			<table>
				<thead>
			       <tr class="ui-bar-d">
			         	<th data-priority="2">Rank</th>
			         	<th>Movie Title</th>
			         	<th data-priority="3">Year</th>
			         	<th data-priority="1"><abbr title="Rotten Tomato Rating">Rating</abbr></th>
			         	<th data-priority="4">Reviews</th>
			       </tr>
			     </thead>
			    <tbody>
					<tr ng-repeat="movie in data">
						<th>{{movie.no}}</th>
						<td><a ng-href="movie.link" class="ui-link">{{movie.name}}</a></td>
						<td>{{movie.year}}</td>
						<td>{{movie.rating}}</td>
						<td>{{movie.reviews}}</td>
					</tr>
			    </tbody>
			</table>
		</div>

		<h4>JQM Table Reflow</h4>
		<div jqm-table reflow="true" type="stroke">
			<table>
				<thead>
			       <tr>
			         	<th data-priority="2">Rank</th>
			         	<th>Movie Title</th>
			         	<th data-priority="3">Year</th>
			         	<th data-priority="1"><abbr title="Rotten Tomato Rating">Rating</abbr></th>
			         	<th data-priority="4">Reviews</th>
			       </tr>
			     </thead>
			    <tbody>
					<tr ng-repeat="movie in data">
						<th>{{movie.no}}</th>
						<td><a ng-href="movie.link" class="ui-link">{{movie.name}}</a></td>
						<td>{{movie.year}}</td>
						<td>{{movie.rating}}</td>
						<td>{{movie.reviews}}</td>
					</tr>
			    </tbody>
			</table>
		</div>

		<div style="height:40px"></div>
	</div>
</div>