<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.gojayincode.angularjqm"
        versionCode="10"
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->

    <name>Angular JQM</name>

    <description>
        Test application Angular JQM
    </description>

    <author href="http://gojayincode.com" email="dani.gojay@gmail.com">
       Dani Gojay
    </author>

</widget>